@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
html{
  min-width: 100%;
}
* {
  margin: 0;
  font-family: "Quicksand";
}
::-webkit-scrollbar {
  display: none;
}
body{
  /* background-image: url("C:/Users/anton/Desktop/React-Apps/raps-shopping/img/light-background.jpg"); */
  background: linear-gradient(to right, lightgrey 50%, rosybrown 50%);
}

/* Navbar */
.navbar {
  padding: 1em;
  display: flex;
  background: linear-gradient(to right, lightgrey 50%, rosybrown 50%);
  align-items: center;
  max-width: 80vw;
  margin: 0 auto;
  margin-bottom: 5vh;
  border-bottom: 1px double black;
  /* position: sticky;
  top: 0; */
}
.navbar h1 {
  color: rgb(192, 63, 63);
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  color: rgba(0, 0, 0, 0.658);
  margin-left: 16px;
  margin-right: 50px;
  text-decoration: none;
  padding: 6px;
  font-size: large;
  font-weight: 700;
}
.navbar a:hover {
  color: white;
  text-decoration: solid;
}

/* Login form*/
.login {
  max-width: 400px;
  margin: 0 auto;
  margin-top: 100px;
  text-align: center;
}
.login input{
  border-radius: 8px;
  color: purple;
  font-weight: 800;
}
.login label {
  text-align: left;
  font-weight: 800;
  display: block;
  color: black;
}
.login h2 {
  font-size: 20px;
  color: black;
  margin-bottom: 30px;
}
.login input{
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.login button {
  background: #f1356d;
  color: #fff;
  font-weight: 700;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  width: 5vw;
}

/*Shopping List*/
.shopping-list{
  width: 100%;
  margin: auto;
}
.shopping-list h1{
  margin-bottom: 50px;
  margin-top: 50px;
}
.shopping-list .grid-container{
  display: flex;
  /* background-color: red; */
  flex-wrap: wrap;
  margin: 0 auto;
  /* margin-top: 100px; */
  justify-content: center;
  width: 60vw;
  border-radius: 8px;
}
.shopping-list .list{
  height: max-content;
  /* flex: 0 1 26.9589%; */
  flex: 0 1 22vw;
  padding: 20px;
  margin:30px;
  cursor: pointer;
}
.list:nth-child(n){
  border: 1px solid black;
  border-radius: 10px;
}
.list:nth-child(3n+1){
  background: rosybrown;
}
.list:nth-child(3n+1) .title{
  color: white;
}
.list:nth-child(3n+1):hover .title{
  color: black;
}
.list:nth-child(3n+1):hover.list{
  background: lightgray;
}
.list:nth-child(3n){
  /* background: linear-gradient(to left, lightgrey 80%, rosybrown 20%); */
  background: lightgrey;
}
.list:nth-child(3n):hover.list{
  background: rosybrown;
}
.list:nth-child(3n):hover .title{
  color: white;
}
.list:nth-child(3n + 2){
  background: linear-gradient(to right, lightgrey 50%, rosybrown 50%);
  
}
.list:nth-child(3n + 2):hover.list{
  background: linear-gradient(to right, rosybrown 50%, lightgrey 50%);
}
.list:nth-child(3n + 2):hover.list .title{
  color: white;
}
.shopping-list .list:hover .edit-button {
  color: white;
}
.shopping-list .list:hover .clear-button {
  color: white;
}
.shopping-list .title{
  color: black;
  display: flex;
  height: max-content;
  justify-content: space-between;
  align-items: center;
}
.shopping-list .item{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
  margin-bottom: 10%;
  margin-top: 10%;
}
.no-items{
  margin-top: 20px;
  margin-bottom: 20px;
}

/* List-buttons */
.go-to-list{
  display: flex;
}
.edit-button{
  color: rgb(75, 75, 75);;
  height: 30px;
  width: 30px;
}
.clear-button{
  margin-left: auto;
  color: rgb(75, 75, 75);
  height: 30px;
  width: 30px;
}
#plus-sign {
  color: black;
}
#minus-sign {
  color: black;
}
.content{
  height: auto;
  max-height: fit-content;
}
.shopping-list p{
  margin-left: 100px;
}
#home {
  color: rgba(0, 0, 0, 0.5);
  position: relative;
  width: 100px;
  height: 50px;
  margin-top: 10px;
}
#site{
  color: black;
  /* font-size: 100px;
  background: linear-gradient(-45deg, black, white);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: songa ease-in-out 5s infinite; */
}
#home:hover{
  animation: heartbeat 0.6s linear infinite;
  color: rosybrown;
}
#home:not(:hover){
  /* animation: heartdrop 0.6s linear initial; */
  animation: heartdrop 0.2s linear 1;
}
#site:hover{
  /* animation: heartbeat 0.6s linear infinite; */
  /* color: rgb(192, 63, 63); */
  color: rosybrown;
}
/* #site:not(:hover){
  animation: heartdrop 0.2s linear 1;
} */

.category-items-container{
  position: absolute;
  display: flex;
  max-height: fit-content;
  width: 100%;
  /* background: red; */
  margin-bottom: 100px;
}

/* .category-items-content h1{
  position: sticky;
  left: 35vw;
} */

.shopping-cart-container{
  position: sticky;
  height: 80vh;
  top: 10%;
  right: 0;
  /* background-color: blue;
  padding: 8px; */
}

.shopping-cart{
  position: fixed;
  /* margin-top: 5vh;
  margin-bottom: 5vh; */
  display: flex;
  right: 0;
  bottom: 10%;
  background: lightgray;
  color: black;
  font-weight: 700;
  height: 80vh;
  width: 18vw;
  border: 1px black solid;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.shopping-cart-content{
  margin: auto;
  flex-basis: content;
  /* background-color: red; */
  border-radius: 8px;
  padding: 10px;
}

.quantity-arrow{
  color: white;
  height: 20px;
  width: 30px;
}

.quantity-arrow:hover{
  color: black;
}

#checkbox{
  height: 20px;
  width: 20px;
}

.add-items{
  position: absolute;
  bottom: 1vh;
  left: 2vw;
  /* background-color: red; */
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin: auto;
}

.add-items button{
  background-color: lightgray;
  color: black;
  border-radius: 5px;
  height: 3vh;
}

.add-items p{
  margin: auto;
  margin-right: 0;
}

.category-items{
  /* background-color: orange; */
  margin: auto;
  margin-left: 34.5vw;
  margin-top: 13vh;
  font-size: larger;
  font-weight: 800;
  /* padding: 8px; */
} 
.category-title{
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background: linear-gradient(to left, lightgrey 50%, rosybrown 50%);
  /* background-color: rosybrown;
  color: white; */
  border: 1px solid black;
  border-radius: 8px;
  cursor: pointer;
}
.category-items .category{
  width: 60%;
  height: max-content;
  margin: auto;
  margin-right: 25%;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 8px;
}
.category-items .category .item{
  background: rosybrown;
  color: black;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 80%;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border: 2px solid black;
  /* border-radius: 10% / 40%; */
  border-radius: 8px;
}
.list-details{
  margin-top: 100px;
  background-color: rgb(170, 145, 145);
  border: 2px solid black;
  border-radius: 16px;
  width: 40vw;
  margin: auto;
  padding: 2em;
}
.list-details-nav{
  display: flex;
  /* flex-direction: row; */
  justify-content: space-evenly;
  width: 80%;
  margin: 0 auto;
}
.list-details .item{
  display: flex;
  justify-content: space-between;
  background-color: grey;
  color: black;
  border-radius: 8px;
  border: 1px solid black;
  margin: 1vh;
  padding: 8px;
}
.list-details .item:hover{
  background-color: rosybrown;
  color: white;
}
.item .checkbox-container{
  margin: auto 0;
  border: 1px solid black;
  border-radius: 8px;
  height: 5vh;
  width: 5vh;
}
input[type=checkbox]:checked+label::before{
  content: "";
  display: block;
  background-color: red;
  text-align: center;
}
/* input[type=checkbox]:checked+label::before {
  content: "";
  display: block;
  position: absolute;
  text-align: center;
  height: 20px;
  width: 20px;
  left: 0;
  top: 5px;
  background-color: #FA9E57;
  font-family: "Montserrat";
  border-radius: 2px;
  border: 1px solid rgb(150 150 150 / 30%);
} */
.checkbox{
  min-height: 90%;
  min-width: 90%;
  border-radius: 8px;
}
/* .item h2{
  position: fixed;
  margin-left: 1vw;
} */
.list-details-nav button:nth-child(n){
  min-height: 1vh;
  min-width: 1vw;
  border-radius: 8px;
  padding: 10px;
  font-size: vmax;
  font-weight: 700;
  cursor: pointer;
}
.list-details-nav button:nth-child(1){
  border: 1px solid black;
  background-color: rosybrown;
  color: white;
}
.list-details-nav button:nth-child(3n){
  border: 1px solid white;
  background-color: lightgray;
  color: black;
}
.list-details-nav button:nth-child(1):hover{
  border: 1px solid white;
  background-color: lightgray;
  color: black;
}
.list-details-nav button:nth-child(3n):hover{
  border: 1px solid black;
  background-color: rosybrown;
  color: white;
}

@keyframes cartAnim{
  0%{
    transform: scale(1.0);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1.0);
  }
}

@keyframes categorySelect{
  0% {
    transform: scale(1.0);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1.0);
  }
}

@keyframes heartdrop{
  0% {
    transform: scale(1.0);
  }
  50% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1.0);
  }
}

@keyframes heartbeat{
  0% {
    transform: scale(1.0);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1.0);
  }
}